:root {
  /* Flex Directions */
  --flex-row: row;
  --flex-column: column;

  /* Justify Content */
  --jc-start: flex-start;
  --jc-center: center;
  --jc-end: flex-end;
  --jc-between: space-between;
  --jc-around: space-around;
  --jc-evenly: space-evenly;

  /* Align Items */
  --ai-start: flex-start;
  --ai-center: center;
  --ai-end: flex-end;
  --ai-stretch: stretch;
  --ai-baseline: baseline;

  /* Text Align */
  --text-left: left;
  --text-center: center;
  --text-right: right;
  --text-justify: justify;



  /* -------------------------
     Flex Behavior Variables
------------------------- */

/* Flex Grow */
--flex-grow-0: 0;
--flex-grow-1: 1;
--flex-grow-2: 2;
--flex-grow-3: 3;

/* Flex Shrink */
--flex-shrink-0: 0;
--flex-shrink-1: 1;

/* Flex Basis */
--flex-basis-auto: auto;
--flex-basis-0: 0;
--flex-basis-25: 25%;
--flex-basis-33: 33.333%;
--flex-basis-50: 50%;
--flex-basis-66: 66.666%;
--flex-basis-75: 75%;
--flex-basis-100: 100%;

}
